<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section>
        <div class="superior">
            <div class="">
                <app-fotoperfil></app-fotoperfil>
                
            </div>
        
            <div>
                <app-perfil></app-perfil>
    
            </div>
        
        </div>
    
    
        <div class="inferior">
            <div class="endereco">
                <app-endereco></app-endereco>
    
            </div>

            <div class="coletaEcarga">
                <div class="coleta">
                    <app-coleta></app-coleta>
                </div>

                <div class="carga">
                    <app-carga></app-carga>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>